<!doctype html>
<html lang="en">
	<head>
	</head>
	<body>
	<iframe
	  width="1500"
	  height="1000"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/place?key="YOUR_KEY_HERE"&q=Eugene+OR" allowfullscreen>
	</iframe>

	<iframe
	  width="1500"
	  height="1000"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/directions?key="YOUR_KEY_HERE"&origin=Oslo+Norway
  &destination=Telemark+Norway
  &avoid=tolls|highways" allowfullscreen>
	</iframe>

	<form>
	</form>

	</body>
</html>
